<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="13" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pager.TabsViewPagerFragmentActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pager.Clicktestactivity"
            android:label="@string/title_activity_clicktestactivity" >
        </activity>
        <activity
            android:name="com.example.pager.ItemsActivity"
            android:label="@string/title_activity_itemsactivity" >
        </activity>
        <activity
            android:name="com.example.pager.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.example.pager.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>